.main-nav {
  background: linear-gradient(90deg, #9683FF 0%, #7BA8FF 58.16%, #4DF0E5 100%);
  color: white !important; }

.navbar-link, .nav-brand {
  color: white; }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffbb00; }

.nav-logo {
  width: 138px; }
